header {
    text-align: center;
    margin: 0 0 0 0;
}

nav {
    position: relative;
    top: -45px;
    left: -50px;
}

#content {
    width: 100%;
}

#wrapper {
    
    margin: 0px auto;
    width:900px;
    height:700px;
    
}

div#switcher {
}

div#map {
    width:600px;
    height:700px;
}

div.download {
    width:100%;
    text-align: right;

}

div#controls {
    float:right;
    clear:right;
    width: 250px;
    
    
}

div#legend ul {
    list-style: none;
    width:150px;
    margin: 0 -40px;
}

li {
    margin: 0 -40px 10px 0;
    border-radius: 5px;
    color: white;
    padding: 5 5 5 5;
    text-align: center;
}

li.red {
    background-color: red;
}

li.orange {
    background-color: orange;
}

li.green {
    background-color: green;
}

div#key {
clear:both;
}

.layersDiv {
background: darkblue;
    color: #FFFFFF;
    opacity: 0.75;
    padding: 10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.baseLayersDiv {
margin:0 0 10px;
}

#switcher span {
display:none !important;
}

#switcher .layersDiv span {
display:inline !important;
}

#switcher {

}

div.baseLbl, div.dataLbl {
border-bottom:1px solid;
font-size:18px;
padding:0 0 5px;
margin:0 0 5px;
}

#legend h2 {
margin-top:0;
}

#mc h2 {
margin-left:50px;
}

